@charset "utf-8";
/* CSS Document */

@media only screen and (max-width:2500px) {
	
}
@media only screen and (max-width:1920px) {
	
}
@media only screen and (max-width:1800px) {
	.login-contain h2{padding:0 0 20px;}
	.login-contain{padding:60px 0 40px}
	.form-group .time-select .select2-container {
	  width: 65px !important;
	}
	.start-time, .end-time{width:71px;}
	.form-group .time-input .form-control{width:35px;}
}
@media only screen and (max-width:1600px) {
	.main-content{padding:35px;}
	.tab-content{padding:30px;}
	.form-row, .form-row.resp_form-row{margin:0 -15px;}
	.form-cell{padding:0 15px;}
	.form-group label.label-block{font-size:12px;}
	.form-row .form-row .form-cell {padding: 0 10px;}
	.form-row .form-row {margin: 0 0 0 -15px;}
	
	.dashboard-grid ul {
	  margin: -20px;
	  padding: 0;
	}
	.cell-day, .cell-status, .cell-time{padding:0 10px 15px 0;}
	.cell-time{width:49%;}
	.form-group .time-select .select2-container{width:63px !important; float:right !important;}
	
	/* Workout */
	
	.timer-bluebox{padding:15px;}
	.timer-seprator{width:13px;}
	.radio-label span::before{height:26px;width:26px;}
	.radio-label{font-size:15px;line-height:25px;padding-left:35px;margin:0 10px;}
	
	.tab-icon{width:30px;background-size:100%;left:15px;}
	ul.sidebar-tab li a{width:280px;font-size:16px;padding:20px 10px 20px 60px;min-width:inherit;}
	.workout-tabcontent{padding:35px;}
	.acrodian-content{padding:30px;}
	.frontsquats-catlist ul{margin:0 -10px;}
	.frontsquats-catlist ul li{padding:0 10px;}
}

@media only screen and (max-width:1500px) {
	/*.cell-status{width:50%;padding:0 10px 0 0;}
	.cell-day{width:50%;padding:0 0 0 10px;}
	.cell-time{width:91%;}
	.form-column{width:44%;}*/
	
	.form-row.resp_form-row > .form-cell{float:none;width:100%;}
	.cell-time{width:50%;}
	.form-row.resp_form-row .form-column{width:47%;}
	.dashboard-grid ul li:nth-child(4n+1) {clear: inherit;}
	.dashboard-grid ul li{width:25%;text-align:center;}
	
	
	.login-header .logo {
	  margin: 0 auto;
	  padding: 28px 0;
	  width: 240px;
	}
	
	.frm .input-feild{height:55px;}
	.input-icon{line-height:55px;padding-left:20px;}
	.frm .input-feild{padding-left:70px;}
	.login-frm .btn{height:55px;font-size:24px;}
	.login-contain h2{font-size:40px;}
	
	.form-group .time-select .select2-container{width:80px !important; float:right !important;}
	.time-input{padding:0 10px;}
	
	
	/* Workout */
	.cat-item .chkcat{padding:12px 20px 14px;}
	.half_column{width:48%;}
	
}
@media only screen and (max-width:1400px) {
	.wraper{width:1250px;padding:0 60px;}	
	.table-content {
	  width: 1060px;
	  overflow: auto;
	}
	.login-header .logo {width:220px}
	
	/* Workout */
	.tab-icon{width:30px;background-size:100%;left:15px;}
	ul.sidebar-tab li a{width:260px;font-size:16px;padding:20px 10px 20px 60px;min-width:inherit;}
	.workout-tabcontent{padding:35px;}
	.half_column{width:50%;}
	.etime-list li{padding:15px 0;}
	.workOutinput{padding:0 0 0 10px;}
	.etime-input::after{top:-2px;}
	.etime-input{font-size:17px;}
	.cat-item .chkcat{font-size:16px;}
	
	.radio-label {
	  font-size: 14px;
	  margin: 0 4px;
	  padding-left: 32px;
	}
	.small-content{padding:30px 20px;}
	
	.frontsquats-catlist ul li{padding:15px;}
	.Categorieslist{margin:0 -5px;}
	.Categorieslist li{padding:5px;}
	.timer-box{height:80px;width:80px;}
	.timer-box .timer-input{font-size:40px;}
	.acrodian-content{padding:30px 20px;}
	.frontsquats-catlist ul li{width:50%;}
	.timer-tab{padding:0;}
	.timer-tab li{padding:10px;}
	.timer-tab li a{font-size:18px;}
	.timer-tabcontent{padding:30px 10px;}
	.intervaltimer-grid{margin:0 -5px;}
	.intervaltimer-grid li{padding:0 5px;}
	.workout-btn .btn-add{min-width:300px;margin:0 15px 10px auto;font-size:16px;}
	.timer-bottomlist li{font-size:16px;}
	.timer-value{font-size:18px;}
	
}
@media only screen and (max-width:1300px) {
	.wraper{width:1150px;}	
	.nav ul li{padding:0 10px;}

	.table-content {width: 960px;}
	
	.table-header, .table-footer{text-align: center;}
	.btn-perform{float: none;margin: 10px 0;}
	.table-headerRt{float: none;}
	
	.login-contain {
	  padding: 40px 0 20px;
	}
	.login-header .logo {
	  padding: 20px 0;
	  width: 200px;
	}
	.frm .input-feild{height:55px;}
	.input-icon{line-height:55px;padding-left:20px;}
	.frm .input-feild{padding-left:70px;}
	.login-frm .btn{height:55px;font-size:24px;}
	.login-contain h2{font-size:40px;}
	
	
	/* Workout */
	ul.sidebar-tab li a{width:240px;}
	.timer-bluebox{padding:15px 10px;}
	.timer-box{height:70px;width:70px;}
	.timer-box .timer-input {font-size: 30px;padding: 0;}
	
}
@media only screen and (max-width:1400px) {
	table.table_saller{width:1200px;}
}
@media only screen and (min-width:1000px) and (max-width:1200px) {	
.wraper {width:960px;}
	.nav::before, .nav::after{
		height: 50px;
		width: 40px;
		background-size:100% 100%;
	}
	.table-content {width:770px;}
.main-content::before, .inner-main::before, .main-content::after, .inner-main::after{
	width:40px;
}
.inner-main::before, .inner-main::after{width:20px;}
.form-row.resp_form-row .form-column{width:46%;}

.radio .inline-radio span::before{margin-top:-10px;width:20px;height:20px;}
.radio .inline-radio span{padding-left:25px;font-size:13px;}
.form-row.sub-row .form-cell {width: 56%;}
.form-row.sub-row .form-cell + .form-cell {width: 44%;}
.form-group .time-select .select2-container{width:70px !important; float:right !important;}
.dashboard-grid ul li{width:33.33%;}


/****  WorkOut ****/

.acrodian-title{font-size:15px;}
.workOut-acrodian{margin-bottom:20px;}
.frontsquats-catlist ul li{padding:10px;}
.timer-tab li{padding:10px 5px;}
.timer-tab li a{font-size:14px;line-height:22px;padding:10px;}
.timer-tabcontent{padding:20px 0;}
.label-timer{font-size:16px;padding:0 10px 3px;}
.timer-bluebox{padding:15px;}
.intervaltimer-grid li{width:50%;padding:0 10px 10px;}
.frontsquats-box h4{font-size:16px;margin-bottom:10px;}
.timer-bottomlist .grid-item{padding:15px 0;}
.timer-value{font-size:14px;}
.timer-value{margin:0 -2px;}
.timer-value span{padding:0 2px;}
.timer-bottomaction > span a{padding:10px 13px;width:40px;}
.info-list ul li{padding:5px;width:50%;}
.info-list ul li + li::before{border-right:none;}
.radio-box {
  border: 1px solid #d0d9de;
  margin: 0;
  padding: 30px 10px;
  text-align: center;
}
.row-divider::after{background:none;}
.half_column {
  float: none;
  width: 100%;
  padding:10px;
}
.full_column {
  padding: 10px;
}

.half_columnrow {
  padding-bottom: 20px;
}
.etime-list li {
  padding: 10px 0;
}
.cat-item .chkcat {
  padding: 12px 15px 14px;
  font-size:15px;
}
.etime-input::after{height:26px;width:26px;top:-1px;}
.etime-input{padding-left:40px;}

.movement-content .workout-tabcontent{padding:30px;}
.acrodian-clone .workOut-acrodian{padding-right:50px;}
.movement-content .form-cell{float:none;width:100%;}
.movement-content .btn-perform a {
  margin-bottom: 0;
}


}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:999px) {
.wraper{max-width:720px;}
.login-innercontain{max-width:420px;}
.main-content{padding:40px 20px;}
.dashboard-grid ul{margin:-10px;}
.dashboard-grid ul li{width:33.33%;padding:10px;}
.dashboard-box{width:180px;height:180px;padding:10px;}
.dashboard-icon{margin:0 auto 5px;}
.dashboard-box h4{font-size:14px;line-height:17px;padding:0;}
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
.wraper{max-width:600px;}
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:640px) {
.wraper{max-width:420px;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.wraper{max-width:300px;}	
}